
@{
    Layout = "~/Areas/GlassesAdmin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h1 color="red">Add Product</h1>
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name </label></div>
                    <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" placeholder="Tên Sản Phẩm" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Description</label></div>
                    <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" placeholder="Mô tả sản phẩm " class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="selectLg" class=" form-control-label">List Product</label></div>
                    <div class="col-12 col-md-4">
                        <select name="selectLg" id="selectLg" class="form-control">
                            <option value="1">Kính Thời Trang Nam</option>
                            <option value="2">Kính Thời Trang Nữ</option>
                            <option value="3">Kính Cận</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Price</label></div>
                    <div class="col-12 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="150.000" class="form-control"></div>
                    <div class="col-md-3">VNĐ</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Sale</label></div>
                    <div class="col-12 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="100.000" class="form-control"></div>
                    <div class="col-md-3">VNĐ</div>
                </div>
                <div class="page-header">
                    <a>Images</a><br />
                    <img class="img-thumbnail" src="@{
    Layout = "~/Areas/GlassesAdmin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h1 color="red">Add Product</h1>
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name </label></div>
                    <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" placeholder="Tên Sản Phẩm" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Description</label></div>
                    <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" placeholder="Mô tả sản phẩm " class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="selectLg" class=" form-control-label">List Product</label></div>
                    <div class="col-12 col-md-4">
                        <select name="selectLg" id="selectLg" class="form-control">
                            <option value="1">Kính Thời Trang Nam</option>
                            <option value="2">Kính Thời Trang Nữ</option>
                            <option value="3">Kính Cận</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Price</label></div>
                    <div class="col-12 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="150.000" class="form-control"></div>
                    <div class="col-md-3">VNĐ</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Sale</label></div>
                    <div class="col-12 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="100.000" class="form-control"></div>
                    <div class="col-md-3">VNĐ</div>
                </div>
                <div class="page-header">
                    <a>Images</a><br />
                    <img class="img-thumbnail" src="@{
    Layout = "~/Areas/GlassesAdmin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h1 color="red">Add Product</h1>
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name </label></div>
                    <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" placeholder="Tên Sản Phẩm" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Description</label></div>
                    <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" placeholder="Mô tả sản phẩm " class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="selectLg" class=" form-control-label">List Product</label></div>
                    <div class="col-12 col-md-4">
                        <select name="selectLg" id="selectLg" class="form-control">
                            <option value="1">Kính Thời Trang Nam</option>
                            <option value="2">Kính Thời Trang Nữ</option>
                            <option value="3">Kính Cận</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Price</label></div>
                    <div class="col-12 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="150.000" class="form-control"></div>
                    <div class="col-md-3">VNĐ</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Sale</label></div>
                    <div class="col-12 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="100.000" class="form-control"></div>
                    <div class="col-md-3">VNĐ</div>
                </div>
                <div class="page-header">
                    <a>Images</a><br />
                    <img class="img-thumbnail" src="/Assets/Client/images/" alt="">
                </div>
                <fieldset class="form-group">
                    <input type="file" class="form-control-file" id="image">
                </fieldset>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Add Product
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>
</div>


" alt="">
                </div>
                <fieldset class="form-group">
                    <input type="file" class="form-control-file" id="image">
                </fieldset>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Add Product
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>
</div>


ttp://placehold.it/400x400" alt="">
                </div>
                <fieldset class="form-group">
                    <input type="file" class="form-control-file" id="image">
                </fieldset>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Edit Product
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>
</div>



